header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo img{
    max-height: 80px;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin: 5px 30px;
}
